{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "semi": false,
    "tabWidth": 4,
    "printWidth": 130,
    "endOfLine": "auto",
    "quoteProps": "as-needed",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2,
                "useTabs": true
            }
        },
        {
            "files": "*.yml,*.yaml",
            "options": {
                "tabWidth": 2,
                "useTabs": true
            }
        }
    ]
}
